<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <!-- Given messages array, display each of the properites -->
  <% messages.forEach((message) => { %>
    <%- include('message', {message}) %>
    <a href="/<%= message.id %>">Go to message</a>
  <% }) %>
  <div>
    <a href="/new">Add New Message</a>
  </div>
</body>
</html>